<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-DVDR3084EX"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-DVDR3084EX');
</script>

<!-- Google AdSense Code -->
<!-- This partial is injected into the <head> of every page. -->
<!-- Replace the placeholder below with your actual AdSense script tag. -->
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3244893243403717"
     crossorigin="anonymous"></script>
