<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-DVDR3084EX"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-DVDR3084EX');
</script>

<!-- Google AdSense Code -->
<!-- This partial is injected into the <head> of every page. -->
<!-- Replace the placeholder below with your actual AdSense script tag. -->
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3244893243403717"
     crossorigin="anonymous"></script>

{{- if or (eq .Kind "taxonomy") (eq .Kind "term") -}}
  {{- if or (eq .Data.Plural "tags") (eq .Data.Singular "tag") (eq .Type "tags") -}}
<meta name="robots" content="noindex, follow">
  {{- end -}}
{{- end -}}
