<footer class="footer">
    <img src="/svgs/site-logo-text.svg" alt="Tech Index Logo" class="footer-logo">
    <span>&copy; {{ now.Year }} <a href="{{ "" | absLangURL }}">{{ .Site.Title }}</a></span>
    <span>
        &middot;
        <a href="/privacy" rel="noopener">Privacy Policy</a> &middot;
        <a href="/terms" rel="noopener">Terms of Service</a> &middot;
        <a href="/disclaimer" rel="noopener">Disclaimer</a> &middot;
        <a href="/sitemap.xml" rel="noopener">Sitemap</a>
    </span>
</footer>