{{- $src := .Get "src" }}
{{- $alt := .Get "alt" | default "" }}
{{- $class := .Get "class" | default "" }}
{{- $img := .Page.Resources.GetMatch $src }}
{{- if not $img }}
  {{- $img = resources.Get $src }}
{{- end }}

{{- if $img }}
  {{- $processed := $img }}
  {{- /* Optimize if image is too large or not webp */}}
  {{- if or (gt $img.Width 1200) (ne $img.MediaType.SubType "webp") }}
    {{- if gt $img.Width 1200 }}
      {{- $processed = $img.Resize (printf "%dx webp q%d" (site.Params.imaging.max_content_width | default 1200) (site.Params.imaging.quality | default 85)) }}
    {{- else }}
      {{- $processed = $img.Resize (printf "%dx%d webp q%d" $img.Width $img.Height (site.Params.imaging.quality | default 85)) }}
    {{- end }}
  {{- end }}
  <img src="{{ $processed.Permalink }}" 
       alt="{{ $alt }}" 
       class="{{ $class }}"
       loading="lazy">
{{- else }}
  <img src="{{ $src | safeURL }}" alt="{{ $alt }}" class="{{ $class }}" loading="lazy">
{{- end }}
